{% extends "admin/dashbord-layout.html.twig" %}
{% block title %} Modify users {% endblock %}
{% block Content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Modifier un utilisateur</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Modifier un utilisateur</h6>
        </div>
        <div class="card-body">
            <form method="post" action="user/validateEditUser/{{ user.iduser }}">
                <div class="form-group col-6">
                    <label for="login" class="font-weight-bold">Login</label>
                    <input type="text" class="form-control" id="login" name="login" value="{{ user.login }}">
                </div>
                <div class="form-group col-6">
                    <label for="firstName" class="font-weight-bold">Prénom(s)</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" value="{{ user.first_name }}">
                </div>
                <div class="form-group col-6">
                    <label for="lastName" class="font-weight-bold">Nom</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" value="{{ user.last_name }}">
                </div>
                <div class="form-group col-6">
                    <label for="email" class="font-weight-bold">Email</label>
                    <input type="text" class="form-control" id="email" name="email" value="{{ user.email }}">
                </div>
                {%  if session.role == 'ROLE_ADMIN' %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="roleUser" value="ROLE_USER" checked>
                    <label class="form-check-label" for="roleUser">
                        USER
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="role" id="roleAdmin" value="ROLE_ADMIN">
                    <label class="form-check-label" for="roleAdmin">
                        ADMIN
                    </label>
                </div>
                {% endif %}
                <div class="alert alert-warning mt-3" role="alert">
                    Ignorer la partie si dessous si vous ne voulez pas modifier le mot de passe
                </div>
                <div class="form-group col-6">
                    <label for="password1" class="font-weight-bold">Mot de passe</label>
                    <input type="password" class="form-control" id="password1" name="password1">
                </div>
                <div class="form-group col-6">
                    <label for="password2" class="font-weight-bold">Confirmer mot de passe</label>
                    <input type="password" class="form-control" id="password2" name="password2">
                </div>
                <input type="submit" class="btn btn-primary float-right">
            </form>
        </div>
    </div>
{% endblock %}